.secretwarden-overview-link.count {
     font-weight: bold;
}

.secretwarden-overview-link.incomplete {
    color: black;
}

.secretwarden-overview-link.nosecrets {
    color: green;
}

.secretwarden-overview-link.hassecrets a {
    color: red;
}